

type {{resourceClass}}Attributes = {
  id: string
  // add your fields here
}

type Create{{resourceClass}}Attributes = Omit<{{resourceClass}}Attributes, "id">

type Update{{resourceClass}}Attributes = Partial<Create{{resourceClass}}Attributes>

export { {{resourceClass}}Attributes, Create{{resourceClass}}Attributes, Update{{resourceClass}}Attributes }